<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Udacity project - Evaluate News Article with NLP</title>
    <!-- <link rel="stylesheet" href="/styles/resets.scss" />
    <link rel="stylesheet" href="/styles/base.scss" />
    <link rel="stylesheet" href="/styles/header.scss" />
    <link rel="stylesheet" href="/styles/form.scss" />
    <link rel="stylesheet" href="/styles/footer.scss" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <!-- <div class="">Logo</div> -->
      <div class="">Evaluate News Article with NLP</div>
    </header>

    <main>
      <section>
        <div class="title">Is this article Subjective or Objective?</div>

        <form class="" onsubmit="return handleSubmit(event)">
          <input
            id="input-url"
            type="text"
            name="input"
            value=""
            onblur="onBlur()"
            placeholder="URL for news article"
          />
          <input
            id="submit"
            type="submit"
            name=""
            value="Submit"
            onclick="return handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>

      <section class="result-section">
        <div class="result-title">Form Results:</div>
        <div id="results" class="results">
          <div id="text"></div>
          <div id="agreement"></div>
          <div id="subjectivity"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="score_tag"></div>
          <!-- <div class="result point">
            <div class="title">Point</div>
          </div>
          <div class="result article">
            <div class="title">Article</div> -->
            <!-- <embed src="" /> -->
          </div>
        </div>
      </section>

      <img src="../../img/chat-group.png" class="sticker" />
    </main>

    <footer>
      <!-- <p>This is a footer</p> -->
      &copy; 2022 by Yui Iida<br />
      Sticker by
      <a
        href="https://www.flaticon.com/free-stickers/people"
        title="people stickers"
        >People stickers created by Stickers - Flaticon</a
      >
      <!-- <a
        href="https://www.flaticon.com/free-stickers/marketing"
        title="marketing stickers"
        >Marketing stickers created by Stickers - Flaticon</a
      >
      <a
        href="https://www.flaticon.com/free-stickers/computer"
        title="computer stickers"
        >Computer stickers created by Stickers - Flaticon</a
      > -->
    </footer>
  </body>
</html>
