$pink: #ffb3c1;
$red: #fe5e54;
$yellow: #fcd200;
$green: #00c9b8;
$purple: #36008d;
$gray: #e3e0e5;

*:focus {
  outline: none;
}

form {
  border: 1px solid #545454;
  border-radius: 3px;
  padding: 25px;
  background-color: white;
  display: block;

  #input-url {
    background-color: #00c9b8;
    border: none;
  }

  #submit {
    background-color: $yellow;
    width: 180px;
    height: 35px;
    border-radius: 5px;

    margin: 10px auto;
    border: none;

    &:hover {
      background-color: #efc700;
    }
  }
}

.title {
  padding: 10px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  display: block;
}

#name {
  background-color: $gray;
}

.result-title {
  padding: 10px;
}

.results {
  // height: 200px;
  border-radius: 3px;
  background-color: $gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding: 20px;

  .title {
    color: $green;
  }

  .point {
    background-color: white;

    margin: 10px 0;
    padding: 10px;

    text-align: center;
  }

  .article {
    background-color: white;

    margin: 10px 0;
    padding: 10px;
    text-align: center;
  }
}
